#octopus {
	position: absolute;
	margin-left: 39%;
	margin-top: 200px;	
}

#hat {
	position: absolute;
	margin-left: 38%;
	margin-top: 115px;
}

#glasses {
	position: absolute;
	margin-left: 42%;
	margin-top: 297px; 

}

